<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoardMapper">
	<!--findAll,findById,insert, update, delete  -->
	<!-- dd -->
	<select id="findAll" resultType="FreeBoard">
	<![CDATA[
	select * from
		(select rownum as rnum, b.* from
			(select /*+ index_desc(board board_pk_b_no) */ b_no bno, b_title title, u_username username, b_write_time writeTime, b_read_cnt readCnt, b_cateno cateno from board) b
		where rownum<=#{endRowNum})
	where rnum>=#{startRowNum} order by bno desc
	]]>
	</select>
	<select id="findAllByUsername" resultType="FreeBoard">
	<![CDATA[
	select * from
		(select rownum as rnum, b.* from
			(select /*+ index_desc(board board_pk_b_no) */ b_no bno, b_title title, u_username username, b_write_time writeTime, b_read_cnt readCnt from board where u_username=#{username}) b
		where rownum<=#{endRowNum})
	where rnum>=#{startRowNum} order by bno desc
	]]>
	</select>
	<select id="findAllByCategory" resultType="FreeBoard">
	<![CDATA[
	select * from
		(select rownum as rnum, b.* from
			(select /*+ index_desc(board board_pk_b_no) */ b_no bno, b_title title, u_username username, b_write_time writeTime, b_read_cnt readCnt,b_cateno cateno from board where b_cateno=#{cateno}) b
		where rownum<=#{endRowNum})
	where rnum>=#{startRowNum} order by bno desc
	]]>
	</select>
	<select id="findById" resultType="FreeBoard">
		select b_no bno, b_title title,b_content content,b_write_time writeTime,b_read_cnt readCnt, b_good_cnt goodCnt,b_attachment_cnt attachmentCnt,
		b_bad_cnt badCnt,b_cateno cateno, b_comment_cnt commentCnt, u_username username
		from board
		where b_no = #{bno} and rownum = 1
	</select>
	<insert id="insert">
		<selectKey keyProperty="bno" resultType="int" order="BEFORE">
			select board_seq.nextval from dual
		</selectKey>
		insert into board(b_no,b_title,u_username,b_content,b_write_time,b_read_cnt,b_good_cnt,b_bad_cnt,b_cateno,b_comment_cnt,b_attachment_cnt)
		values(#{bno},#{title},#{username},#{content},sysdate,0,0,0,#{cateno},0,#{attachmentCnt})
	</insert>
	<update id="update">
		update board
		<trim suffixOverrides="," prefix="set">
			<if test="title!=null">b_title=#{title},</if>
			<if test="content!=null">b_content=#{content},</if>
			<if test="readCnt!=null">b_read_cnt=b_read_cnt+1,</if>
			<if test="commentCnt!=null">b_comment_cnt=b_comment_cnt+1,</if>
			<if test="goodCnt!=null">b_good_cnt=b_good_cnt+1,</if>
			<if test="attachmentCnt!=null">b_attachment_cnt=b_attachment_cnt-1,</if>	
			<if test="badCnt!=null">b_bad_cnt=b_bad_cnt+1,</if>
		</trim>
		where b_no=#{bno} and rownum = 1
	</update>
	<delete id="delete">
		delete from board where b_no=#{bno} and rownum=1
	</delete>
	<select id="count" resultType="int">
		select count(*) from board 
		<where>
			<if test="value!=null">and b_cateno=#{cateno}</if>
		</where>
	</select>
	<select id="findAllCate" resultType="map">
		select b_cateno cateno, b_category category from boardcate 
	</select>
</mapper>












