<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<!-- 페이징 카운트 -->
	<select id="count" resultType="int">
		select count(*) from notice
	</select>
	<!-- 공지 페이징 목록 -->
	<select id="findAll" resultType="notice">
		<![CDATA[
		select * from
			(select rownum as rnum, b.* from
				(select /*+ index_desc(notice notice_pk_n_no)*/n_no nNo,n_title nTitle,n_write_time nWriteTime,
				n_readcnt nReadCnt, a_username aUsername from notice order by n_no desc) b
			where rownum <=#{endRowNum})
		 where rnum>=#{startRowNum} order by nNo desc
		 ]]>
	</select>
	
	<!-- 공지읽기 -->
	<select id="findById" resultType="notice">
		select
		n_no nNo,n_title
		nTitle,n_write_time nWriteTime,n_readcnt nReadCnt,content,a_username aUsername
		from notice where n_no=#{nNo}
		and rownum=1
	</select>
	<!-- 공지추가 -->
	<insert id="insert">
		<selectKey keyProperty="nNo" resultType="int" order="BEFORE">
			select
			notice_seq.nextval from dual
		</selectKey>
		insert into
		notice(n_no,n_title,n_write_time,n_readcnt,content,a_username)
		values(#{nNo},#{nTitle},sysdate,0,#{content},#{aUsername})
	</insert>
	<!-- 공지 변경 -->
	<update id="update">
		update notice
		<trim suffixOverrides="," prefix="set">
			<if test="nTitle!=null">n_title=#{nTitle},</if>
			<if test="content!=null">content=#{content},</if>
			<if test="nReadCnt!=null">n_readcnt=n_readcnt+1,</if>
		</trim>
		where n_no=#{nNo} and rownum=1
	</update>
	<!-- 공지 삭제 -->
	<delete id="delete">
		delete from notice where n_no=#{nNo} and rownum=1
	</delete>
</mapper>












