<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointMapper">
	<select id="count" resultType="int">
		select count(*) from point
	</select>
	<select id="findAll" resultType="point">
	<![CDATA[
	select * from
		(select rownum as rnum, p.* from
			(select /*+ index_desc(point point_pk_n_no)*/ u_username uUsername, s_name sName, accumulation_day accumulationDay, accumulation_sal accumulationSal from point) p
		where rownum <=#{endRowNum})
	where rnum>=#{startRowNum}
	]]>	
	</select>
	<insert id="insert">
		<selectKey keyProperty="uUsername" resultType="int" order="BEFORE">
			select point_seq.nextval from dual
		</selectKey>
		insert into point(u_username , s_name , accumulation_day , accumulation_sal )
		values(#{uUsername},#{sName},#{accumulationDay}, #{accumulationSal})
	</insert>	
	<update id="update">
		update point
		<trim suffixOverrides="," prefix="set">
			<if test="uUsername">u_username=#{uUsername},</if>
			<if test="sName">s_name=#{sSname},</if>
			<if test="accumulationDay">accumulation_day=#{accumulationDay},</if>
			<if test="accumulationSal">accumulation_sal=#{accumulationSal}</if>
		</trim>
		where u_username=#{uUsername} and rownum=1
	</update>
	<delete id="delete">
		delete from point where u_usernmae=#{uUsername} and rownum=1
	</delete>
</mapper>
