<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pointMapper">
	<!-- 포인트 페이징 -->
	<select id="count" resultType="int">
		select count(*) from point where u_username=#{username}
	</select>
	<!-- 아이디로 포인트내역 불러오기 -->
	<select id="findAll" resultType="point">
	<![CDATA[
	select * from
		(select rownum as rnum, p.* from
			(select /*+ index_desc(point point_pk_u_username)*/ u_username uUsername, order_no orderNo, accumulation_sal accumulationSal from point where u_username=#{uUsername}) p
		where rownum <=#{endRowNum})
	where rnum>=#{startRowNum} order by orderNo desc
	]]>	
	</select>
	<!-- 총포인트 불러오기 -->
	<select id="findByTotalpoint" resultType="int">
		select sum(accumulation_sal) from point where u_username=#{uUsername}
	</select>
	<!-- 포인트 입력 -->
	<insert id="insert">
		insert into point(u_username, order_no , accumulation_sal, totalpoint )
		values(#{uUsername}, #{orderNo}, #{accumulationSal},0)
	</insert>	
	<!--  포인트 수정 -->
	<update id="update">
		update point set totalpoint=#{totalPoint} where u_username=#{uUsername}
	</update>
	<!-- 포인트 추가 -->
	<update id="pointAdd" parameterType="point">
		update member set point=point+#{Point} where u_username=#{uUsername}
	</update>
	<!-- 포인트 마이너스 -->
	<update id="pointMin" parameterType="point">
		update member set point=point-#{Point} where u_username=#{uUsername}
	</update>
	<!-- 포인트 삭제 -->
	<delete id="delete">
		delete from point where u_username=#{uUsername} and rownum=1
	</delete>
	<select id="ordermoney" resultType="int">
		select sum(cart_jumunMoney)*0.02 from orders where order_no=#{orderNo}
	</select>
	
</mapper>
