<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMapper">


<!--내 매장 리뷰갯수 읽기 
<select id="myReviewCnt" resultType="int">
	select count(*) from review where s_num=#{sNum}
</select> -->

<!-- 매장이 존재하는지 안하는지  -->
<select id="existsSnum" resultType="boolean">
	select count(*) from store where m_username=#{mUsername} and rownum=1
</select>

<select id="findBysNum" resultType="store">
select s_num sNum, s_sajin sSajin, s_info sInfo,
s_name sName, s_tel sTel, s_address sAddress, food_no foodNo, m_username mUsername, 
s_review_cnt sReviewCnt, s_star_point sStarPoint from store where s_num=#{sNum} and rownum=1
</select>

<select id="findBymUsername" resultType="store">
select s_num sNum, s_sajin sSajin, s_info sInfo,
s_name sName, s_tel sTel, s_address sAddress, food_no foodNo, 
m_username mUsername, s_review_cnt sReviewCnt, s_star_point sStarPoint 
from store where m_username=#{mUsername} and rownum=1
</select>

<!-- <select id="findAll" resultType="store">
select s_num sNum, s_sajin sSajin, s_info sInfo,
s_name sName, s_tel sTel, s_address sAddress, food_no foodNo, 
s_star_point sStarPoint, s_review_cnt sReviewC nt, m_username mUsername from store
</select> -->
	
<select id="findAllBymUsername" resultType="store">
select s_num sNum, s_sajin sSajin, s_info sInfo,
s_name sName, s_tel sTel, s_address sAddress, food_no foodNo, 
s_star_point sStarPoint, s_review_cnt sReviewCnt, m_username mUsername 
from store where m_username=#{mUsername} 
</select>

<insert id="insert">
<selectKey order="BEFORE" resultType="int" keyProperty="sNum">
select store_seq.nextval from dual
</selectKey>
insert into store(s_num,s_sajin,s_info,s_name,s_tel,s_address,
food_no,s_star_point,s_review_cnt,m_username) values(#{sNum},#{sSajin},#{sInfo},#{sName},
#{sTel},#{sAddress},#{foodNo},0,0,#{mUsername})
</insert>

<update id="update">
update store
	<trim prefix="set" suffixOverrides=",">
		<if test="sSajin!=null">s_sajin=#{sSajin},</if>
		<if test="sInfo!=null">s_info=#{sInfo},</if>
		<if test="sName!=null">s_name=#{sName},</if>
		<if test="sTel!=null">s_tel=#{sTel},</if>
		<if test="sAddress!=null">s_address=#{sAddress},</if>
		<if test="sStarPoint!=null">s_star_point=#{sStarPoint},</if>
		<if test="sReviewCnt!=null">s_review_cnt=#{sReviewCnt},</if>
	</trim>
	where s_num=#{sNum} and rownum=1
</update>	

<delete id="delete">
	delete from store where s_num=#{sNum} and rownum=1
</delete>

<!-- 카테고리별 카운트 -->
<select id="count" resultType="int">
		select count(*) from store 
		<where>
			<if test="value!=null">and food_no=#{value}</if>
		</where>
</select>
	
<!-- 별점순 정렬 목록 카테고리조건 -->
<select id="findAllByfoodNoAndStar" resultType="store">
	<![CDATA[
	select s_num sNum,s_sajin sSajin,s_name sName,food_no foodNo,s_star_point sStarPoint,s_review_cnt sReviewCnt, s_address sAddress from store where food_no=#{foodNo} and s_address like '%'||#{keyword}||'%' order by s_star_point desc
	]]>
</select>
<!-- 리뷰순 정렬목록 카테고리조건 -->
<select id="findAllByfoodNoAndReview" resultType="store">
	<![CDATA[
	select s_num sNum,s_sajin sSajin,s_name sName,food_no foodNo,s_star_point sStarPoint,s_review_cnt sReviewCnt, s_address sAddress from store where food_no=#{foodNo} and s_address like '%'||#{keyword}||'%' order by s_review_cnt desc
	]]>
</select>

<!-- 리뷰순 정렬목록 -->
<select id="findAllByReview" resultType="store">
	<![CDATA[
	select s_num sNum,s_sajin sSajin,s_name sName,food_no foodNo,s_star_point sStarPoint,s_review_cnt sReviewCnt, s_address sAddress from store where s_address like '%'||#{keyword}||'%' order by s_review_cnt desc
	]]>
</select>
<!-- 별점순 정렬목록 -->
<select id="findAllByStar" resultType="store">
	<![CDATA[
		select s_num sNum,s_sajin sSajin,s_name sName,food_no foodNo,s_star_point sStarPoint,s_review_cnt sReviewCnt, s_address sAddress from store where s_address like '%'||#{keyword}||'%' order by s_star_point desc
	]]>
</select>
<select id="starAvg" resultType="float">
select round(avg(cast(r_star_point as float)),1) from review where s_num=#{sNum}
</select>
</mapper>












