<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
   <!-- 아이디 중복확인 -->
   <select id="existsById" resultType="boolean">
      select count(*) from(select u_username from (select u_username from users union SELECT m_username from manager union select a_username from admin)) where u_username=#{uUsername} and rownum=1
   </select>
   
   <!-- 이메일 중복확인 -->
   <select id="existsByUEmail" resultType="boolean">
      select count(*) from(select u_email from (SELECT u_email from users union select m_email from manager)) where u_email=#{uEmail} and rownum=1
   </select>
   
   <!-- 정보 입력 -->
   <insert id="insert">
      insert into users(u_username, u_irum, u_email, u_tel, u_address, u_password, u_enabled, u_joindate, u_point, u_login_fail_cnt, status)
      values(#{uUsername},#{uIrum},#{uEmail},#{uTel},#{uAddress},#{uPassword},1,sysdate,0,0,0)
   </insert>
   
   <!-- 정보 변경 -->
   <update id="update">
      update users
      <trim suffixOverrides="," prefix="set">
         <if test="uIrum!=null">u_irum=#{uIrum},</if>
         <if test="uEmail!=null">u_email=#{uEmail},</if>
         <if test="uTel!=null">u_tel=#{uTel},</if>
         <if test="uAddress!=null">u_address=#{uAddress},</if>
         <if test="uPoint!=null">u_point=#{uPoint},</if>
         <if test="uPassword!=null">u_password=#{uPassword},</if>
         <if test="uEnabled!=null">u_enabled=#{uEnabled},</if>
         <if test="uJoinDate!=null">u_joinDate=#{uJoinDate},</if>
         <if test="uLoginFailCnt!=null">u_login_fail_cnt=#{uLoginFailCnt},</if>
      </trim>
      where u_username=#{uUsername} and rownum=1
   </update>

   <!-- 
   
   <update id="update">
      update users u, manager m set from(select u_email from (select u_email from users union select m_email from manager)) where u_email=#{uEmail} and rownum=1
   </update>
   
    -->   

   
   <!-- 아이디로 비밀번호 찾기 -->   
   <select id="findPasswordById" resultType="string">
      select u_password from users where u_username=#{uUsername} and rownum=1
   </select>
   
   <!-- 아이디로 정보 불러오기 -->
   <select id="findById" resultType="user">
      select u_username uUsername, u_irum uIrum, u_tel uTel, u_email UEmail, u_address uAddress, u_password uPassword, u_enabled uEnabled,
      u_joinDate uJoinDate, u_point uPoint, u_login_fail_cnt uLoginFailCnt, status from users where u_username=#{uUsername} and rownum=1
   </select>
   
   <!-- 이름, 이메일로 아이디 찾기 -->
   <select id="findUUsernameByUIrumAndUEmail" resultType="string">
      select u_username from users where u_irum=#{uIrum} and u_email=#{uEmail} and rownum=1
   </select>
   
   <!-- 회원 탈퇴 -->
   <delete id="delete">
      delete from users where u_username=#{uUsername} and rownum=1
   </delete>
</mapper>