<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.icia.cheatingday.manager.entity.MenuEntity" alias="menu"/>
		<typeAlias type="com.icia.cheatingday.notice.entity.Notice" alias="notice"/>
		<typeAlias type="com.icia.cheatingday.manager.entity.ManagerEntity" alias="manager"/>
		<typeAlias type="com.icia.cheatingday.manager.entity.StoreApplyInsert" alias="storeapplyinsert"/>
		<typeAlias type="com.icia.cheatingday.admin.entity.Admin" alias="admin"/> 
		<typeAlias type="com.icia.cheatingday.user.entity.User" alias="user"/> 
		<typeAlias type="com.icia.cheatingday.user.entity.Point" alias="point"/>
		<typeAlias type="com.icia.cheatingday.user.entity.Favorite" alias="fav"/>
		<typeAlias type="com.icia.cheatingday.buylist.entity.Buylist" alias="buylist"/>
		<typeAlias type="com.icia.cheatingday.review.entity.Review" alias="review"/>
		<typeAlias type="com.icia.cheatingday.freeboard.entity.FreeBoard" alias="FreeBoard"/>
		<typeAlias type="com.icia.cheatingday.freeboard.entity.Comment" alias="Comment"/>
		<typeAlias type="com.icia.cheatingday.center.entity.QnA" alias="qna"/>
		<typeAlias type="com.icia.cheatingday.center.entity.QnAComment" alias="qnacomment"/>
		<typeAlias type="com.icia.cheatingday.cart.Orders" alias="order"/>
		<typeAlias type="com.icia.cheatingday.cart.OrderDetails" alias="cart"/>
		<typeAlias type="com.icia.cheatingday.manager.entity.Store" alias="store"/>
		<typeAlias type="com.icia.cheatingday.manager.entity.FoodCategory" alias="foodCategory"/>
		<typeAlias type="com.icia.cheatingday.review.entity.Review" alias="review"/>
		<typeAlias type="com.icia.cheatingday.review.entity.ReviewComment" alias="reviewComment"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.icia.cheatingday.util.typehandler.LocalDateTimeTypeHandler"/>
	</typeHandlers>
</configuration>